@import "Styles/index.scss";

.textarea-wrapper {
  position: relative;
  font-size: 1.25rem;

  .placeholder {
    position: absolute;
    color: grey;
    font-style: italic;
  }

  .textarea {
    position: relative;
    min-height: 60px;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    outline: 0px solid transparent;
    flex-grow: 3;
  }
}
