@import "Styles/index.scss";

.claps-wrapper {
  color: $grayText;
  display: flex;
  justify-content: center;

  .icon {
    flex-shrink: 1;
    width: 25px;
    height: 26px;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='367.000000pt' height='384.000000pt' viewBox='0 0 367.000000 384.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,384.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E%3Cpath d='M2464 3830 c-50 -20 -54 -39 -54 -263 0 -207 0 -208 25 -232 32 -33 74 -33 105 0 23 25 23 29 24 240 1 202 0 215 -19 234 -26 24 -54 32 -81 21z'/%3E%3Cpath d='M3002 3823 c-21 -18 -182 -378 -182 -406 0 -9 11 -28 23 -43 28 -32 80 -36 108 -7 25 26 170 363 171 397 1 20 -7 37 -26 53 -32 27 -66 30 -94 6z'/%3E%3Cpath d='M3209 3278 c-101 -72 -189 -139 -196 -147 -33 -42 7 -121 61 -121 33 0 405 266 417 298 19 50 -17 102 -72 102 -18 0 -85 -42 -210 -132z'/%3E%3Cpath d='M2014 3248 c-55 -18 -126 -80 -157 -138 l-30 -55 -52 52 c-109 109 -271 111 -385 5 -47 -44 -69 -85 -316 -592 -336 -691 -406 -830 -414 -830 -4 0 -22 42 -40 93 -45 129 -76 181 -138 238 -93 85 -215 102 -323 43 -91 -50 -148 -146 -156 -263 -6 -81 1 -108 116 -471 185 -586 276 -787 415 -925 265 -262 822 -456 1125 -391 207 44 400 199 512 411 l43 81 415 229 c229 126 513 283 631 348 118 65 227 130 243 145 100 95 93 278 -14 364 l-39 31 62 41 c78 51 118 120 118 200 0 83 -17 124 -74 182 l-53 52 51 34 c30 20 63 53 81 82 26 44 30 58 30 125 0 65 -4 83 -28 124 -68 115 -210 157 -329 96 -22 -11 -42 -18 -45 -16 -2 3 -7 24 -10 46 -15 108 -114 201 -223 209 -74 5 -102 -4 -256 -89 -70 -39 -130 -67 -134 -62 -3 4 -20 26 -37 49 -44 56 -120 95 -198 101 l-62 5 23 57 c81 196 -51 403 -256 400 -36 -1 -79 -6 -96 -11z m174 -138 c45 -28 72 -76 72 -130 0 -39 -38 -124 -275 -610 l-275 -565 58 -27 c31 -15 60 -27 63 -28 3 0 100 194 215 431 232 480 232 479 327 487 42 3 58 -1 86 -20 54 -36 74 -71 75 -125 1 -43 -22 -95 -206 -474 -115 -234 -208 -430 -208 -436 0 -9 91 -53 110 -53 4 0 15 17 23 38 8 20 72 152 141 292 142 289 151 301 246 302 59 0 90 -18 128 -73 50 -72 53 -64 -359 -911 -227 -467 -392 -792 -419 -829 -82 -113 -232 -213 -357 -240 -130 -27 -352 8 -556 86 -202 78 -417 215 -496 315 -82 104 -184 342 -296 695 -37 116 -85 266 -107 335 -61 190 -61 269 -1 341 50 58 114 74 179 43 49 -23 90 -77 121 -159 118 -310 126 -325 178 -325 32 0 35 4 103 128 39 70 209 411 378 757 169 347 316 641 328 654 91 103 266 37 266 -100 0 -40 -28 -105 -206 -470 -113 -233 -206 -428 -207 -433 -2 -10 110 -62 117 -55 3 2 125 252 271 554 147 303 279 563 293 579 15 15 36 32 47 36 37 16 109 11 143 -10z m879 -437 c45 -21 73 -67 73 -119 0 -70 -28 -97 -195 -189 -148 -82 -150 -83 -179 -68 -17 9 -58 18 -93 21 -35 2 -63 7 -63 9 0 2 11 29 24 61 13 31 27 75 30 97 7 40 8 40 159 122 88 48 164 83 180 83 16 0 45 -8 64 -17z m424 -219 c40 -20 72 -91 64 -137 -4 -19 -16 -46 -28 -60 -17 -20 -637 -374 -637 -363 0 1 7 24 16 50 20 58 16 167 -9 215 -9 19 -16 35 -15 37 2 1 113 63 248 138 264 146 293 156 361 120z m-35 -469 c33 -22 64 -73 64 -108 0 -52 -29 -95 -89 -131 -31 -18 -198 -111 -371 -206 -173 -95 -317 -174 -319 -176 -5 -5 49 -94 57 -94 4 0 117 61 252 135 149 82 256 135 273 135 77 0 137 -60 137 -136 0 -82 2 -81 -598 -412 -304 -167 -554 -303 -556 -301 -2 2 106 229 239 503 159 326 251 506 267 517 12 9 140 80 283 158 233 127 264 142 298 138 21 -3 49 -13 63 -22z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 25px;
  }

  .clap-count {
    padding-left: $paddingSmall;
    display: flex;
    align-items: center;
    height: 26px;
    flex-grow: 1;
  }
}
