@import "Styles/index.scss";

.tweet-create {
  background: $grayWhite;
  padding: $paddingMedium;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;

    .form-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      border-top: $grayLight;
      padding-left: $paddingSmall;
      height: 100%;

      .form {
        padding: $paddingSmall;
        width: 100%;
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: $paddingSmall;

    button {
      align-self: flex-end;
    }
  }
  @media (max-width: $mediumMin) {
    @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
  }
}

