@import "Styles/index.scss";

body {
  background-color: $appBackground;
}

.app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;

  .tweet-panel-wrapper {
    position: static;
    height: 100%;

    .tweet-create-wrapper {
      width: 100%;
    }
  }

  @media (max-width: $mediumMin) {
    .tweet-panel-wrapper {
      width: 100%;
      overflow: scroll;

      .tweets-list-wrapper {
        margin-bottom: 75px;
      }
    }
  }

  @media (min-width: $mediumMin) {
    .tweet-panel-wrapper {
      padding: $paddingMedium;
      width: $mediumMin;
    }
  }
}
