@import "Styles/index.scss";

.tweets-list-wrapper {
  display: flex;
  flex-flow: column-reverse;

  @media (max-width: $mediumMax) {
    flex-flow: column;
  }

  .tweet-item-wrapper {
    border-top: 1px solid $grayLight;
  }
}
