@import "Styles/index.scss";

.tweet-panel-wrapper {
  display: flex;
  flex-flow: column;
  position: relative;

  @media (max-width: $mediumMin) {
    flex-flow: column-reverse;

    .tweet-create-wrapper {
      box-shadow: 0 0 4px rgba(128, 128, 128, .6);
      border-top: 1px solid $grayLight;
      position: absolute;
      bottom: 0;
    }
  }

  @media (min-width: $mediumMin) {
    .tweet-create-wrapper {
      padding-bottom: $paddingSmall;
    }
  }
}
