@import "Styles/index.scss";

.avatar {
  flex-shrink: 1;

  .icon {
    background-color: $grayLight;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='170.000000pt' height='170.000000pt' viewBox='0 0 170.000000 170.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,170.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M940 1511 c-78 -25 -139 -81 -160 -147 -27 -81 13 -262 92 -418 30%0A-58 28 -129 -3 -162 -23 -25 -28 -26 -99 -22 -98 6 -231 59 -432 172 -38 21%0A-68 32 -68 26 0 -33 151 -370 183 -409 21 -25 -50 -5 -145 42 -49 23 -88 39%0A-88 35 0 -8 75 -102 150 -187 30 -34 81 -82 113 -107 l59 -44 330 0 329 0 22%0A48 c18 39 22 65 22 152 0 93 -3 113 -29 174 -15 37 -47 100 -70 140 -126 213%0A-206 396 -206 472 0 51 27 80 65 70 28 -7 45 -40 45 -87 0 -37 24 -85 49 -99%0A83 -44 168 58 141 169 -14 59 -73 138 -122 164 -42 21 -139 31 -178 18z'/%3E%3Cpath d='M1050 1105 c0 -32 4 -55 10 -55 26 0 110 54 110 70 0 3 -15 4 -32 2%0A-23 -2 -40 3 -55 17 -12 12 -25 21 -28 21 -3 0 -5 -25 -5 -55z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 48px;
  }
}
