@import "Styles/index.scss";

.btn {
  padding: $paddingSmall;
  background-color: $primary;
  font-weight: bold;
  color: $whiteText;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  cursor: pointer;
  transition: background-color .15s;
  position: relative;

  &.busy {
    background: rgba(255, 255, 255, .1);;
    display: flex;
    &::before {
      position: absolute;
      @include add_spinner(20px);
    }
  }
}

.btn:disabled {
  cursor: default;
  background-color: $secondary;
}

.btn:not(:disabled):hover {
  background-color: lighten($primary, 20%);
}

.btn:not(:disabled):active {
  box-shadow: 0 0px 1px rgba(0, 0, 0, .6);
}
