@import "Styles/index.scss";

.tweet-item {
  background: $grayWhite;
  width: 100%;
  padding: $paddingMedium;

  .container {
    display: flex;
    flex-direction: row;

    .tweet-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-left: $paddingSmall;
      height: 100%;
      color: $grayText;

      .text-wrapper {
        min-height: 48px;
      }
    }
  }

  .footer-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: $paddingSmall;
  }
}

