// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

@mixin add_spinner(
  $size: 20px,
){
  content: '';
  box-sizing: border-box;
  width: $size;
  height: $size;
  left: calc(50% - #{$size / 2});
  top: calc(50% - #{$size / 2});
  border-radius: 50%;
  border: 3px solid $grayWhite;
  border-top-color: $primary;
  animation: spinner .6s linear infinite;
}
